.skeletonItem {
  background-color: var(--background-color-another);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 100%;
  border-radius: 8px;
  animation: skeletonLoading 1.5s infinite linear;
  width: 100%;
  height: 300px;
}

@keyframes skeletonLoading {
  0% {
    background-color: #f8f9ef;
  }
  50% {
    background-color: #fafcea;
  }
  100% {
    background-color: #f2f6d3;
  }
}
