.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px 80px 40px;
  background-color: var(--background-color);
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.title {
  color: var(--color);
  font-family: "Montserrat", normal;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-right: 24px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #898989dd;
}

.allCategoriesButton {
  background-color: var(--background-color);
  color: #898989dd;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #898989dd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.allCategoriesButton:hover {
  background-color: #F2F6D3;
  color: #8B8B8B;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}