.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 76px 40px;
  background-color: var(--background-color);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.crumbBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--background-color-bread);
  border: 1px solid #ddd;
}

.crumbText {
  color: #8b8b8b;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.crumbTextBlack {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.line {
  width: 16px;
  height: 1px;
  background-color: #ddd;
}

.productDetails {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.imageContainer {
  flex: 1;
  max-width: 780px;
  width: 100%;
}

.productImage {
  width: 100%;
  max-height: 572px;
  height: auto;
  border-radius: 12px;
  border: 1px solid var(--border);
  object-fit: cover;
  object-position: center;
}

.infoContainer {
  display: flex;
  width: 548px;
  flex-direction: column;
  gap: 32px;
}

.headerRow {
  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.productTitle {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  word-break: break-word;
  white-space: normal;
}

.heartIcon {
  width: 48px;
  height: 48px;
  cursor: pointer;
  fill: var(--fill);
  stroke: var(--stroke);
  stroke-width: 8;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.heartIcon:hover {
  transform: scale(1.1);
}

.inFavorites {
  fill: #92a134;
  stroke: none;
}

.priceBlock {
  display: flex;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.currentPrice {
  font-size: 64px;
  font-weight: 700;
  margin-right: 16px;
  color: var(--color);
}

.originalPrice {
  font-size: 40px;
  font-weight: 500;
  color: #8b8b8b;
  text-decoration: line-through 2px;
}

.discountBadge {
  background-color: var(--bandage);
  border-radius: 6px;
  padding: 4px 8px;
}

.discountText {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.actionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.quantityControl {
  display: flex;
  align-items: center;
  
}

.boxMinus,
.boxPlus {
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 1px solid #ddd;
  background-color: var(--background-color-bread);
  border-radius: 6px;
  z-index: 1;
  color: var(--plus-minus);
}

.boxPlus {
  margin-left: -10px;
}

.quantity {
  display: flex;
  font-size: 20px;
  width: 96px;
  height: 58px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: var(--background-color-bread);
  z-index: 0;
  margin-left: -10px;
  color: var(--color);
}

.addToCartButton {
  background-color: #92a134;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 58px;
}

.descriptionTitle {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.descriptionText {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  height: auto;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalImage {
  max-width: 900px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  width: 800px;
}

.modalCloseIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #92a134;
}

.modalCloseIcon:hover {
  color: #7c8c2b;
}


.readMoreButton {
  background: none;
  border: none;
  color: var(--color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  text-decoration: underline;
}

.readMoreButton:hover {
  color: #7c8c2b;
}
