.shoppingCartContainer {
  background-color: var(--background-color);
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.title {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-right: 24px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #898989dd;
}

.allCategoriesButton {
  background-color: var(--background-color-bread);
  color: #898989dd;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #898989dd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.allCategoriesButton:hover {
  background-color: #f2f6d3;
  color: #8b8b8b;
}

.contentContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 32px;
  width: 100%;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.orderDetails {
  padding: 32px;
  background-color: var(--background-color-footer);
  border-radius: 12px;
  color: #8b8b8b;
}

.orderDetails h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color);
}

.orderDetails p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #8b8b8b;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
}

.totalPrice h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.formContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input {
  padding: 16px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
  color: var(--sun);
  outline: none;
  width: 100%;
}

.input::placeholder {
  color: #8b8b8b;
}

.button {
  background-color: #92a134;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #424436;
  color: white;
}

.emptyCartContainer {
  color: #92a134;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

.emptyTitle {
  max-width: 100%;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 30px;
  word-break: break-word;
}

.continueShoppingButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #92a134;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continueShoppingButton:hover {
  background-color: #7d902b;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContent {
  position: relative;
  background-color: #92A134;
  padding: 20px;
  border-radius: 12px;
  color: white;
  max-width: 548px;
  width: 100%;
  gap: 32px;
}

.modalContent h2 {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 32px;
}

.modalContent p {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.closeModalButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1060px) {
  .contentContainer {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 42px;
  }

  .cartItems,
  .orderDetails {
    width: 100%;
  }

  .orderDetails {
    padding: 20px;
  }

  .orderDetails h2 {
    font-size: 32px;
  }

  .totalPrice h3 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 42px;
  }

  .orderDetails h2 {
    font-size: 28px;
  }

  .totalPrice h3 {
    font-size: 28px;
  }
}

@media (max-width: 672px) {
  .title {
    font-size: 34px;
    margin-right: 14px;
  }

  .head {
    margin-bottom: 20px;
  }

  .shoppingCartContainer {
    padding: 20px 20px 40px 20px;
  }

  .allCategoriesButton {
    font-size: 12px;
    padding: 8px 16px;
  }
}
@media (max-width: 480px) {
  .emptyTitle {
    font-size: 14px;
    max-width: 480px;
  }
}

@media (max-width: 360px) {
  .cartItems {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .allCategoriesButton {
    display: none;
  }
  .line {
    display: none;
  }
}


