.productCard {
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--border);
  background-color: var(--background-color-another);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: scale(1.05);
}

.productImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.discountBadge {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #f26d22;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
}

.icons {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconHeart,
.iconCart {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
  fill: white;
  stroke: black;
  stroke-width: 7;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.iconHeartContainer,
.iconCartContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

.iconHeart:hover,
.iconCart:hover {
  transform: scale(1.1);
}

.inCart {
  fill: #92a134;
  stroke: none;
}

.inFavorites {
  fill: #92a134;
  stroke: none;
}

.productTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--color);
  margin: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  box-orient: vertical;
  height: 48px;
  line-height: 1.2em;
}

.productTitle::after {
  content: "";
  display: block;
  height: 1.2em;
  opacity: 0;
}

.priceContainer {
  margin: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: var(--color);
}

.originalPrice {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #8b8b8b;
  text-decoration: line-through;
}
