.discountContainer {
  background-color: #FFFFF1;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px 108px 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.greenContainer {
  background: linear-gradient(80deg, #87933D -0.68%, #55610B 66.66%);
  border-radius: 12px;

  padding: 32px 32px 0 32px;
  width: 100%;
}

.title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  margin-bottom: 40px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.imageContainer {
  flex: 3;
  display: flex;
  align-items: flex-end;
}

.peopleImage {
  width: 100%;
  height: auto;
  align-self: flex-end;
}

.formContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input {
  padding: 16px;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  color: white;
  outline: none;
}

.input::placeholder {
  color: white;
}

.button {
  background-color: #f7f3df;
  color: #535353;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 16px;
  margin-top: 12px;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d8cfb8;
}