.errorContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: "Montserrat", normal;
  text-align: center;
  color: #92a134;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorImage {
  width: 300px;
  height: 270px;
}

.errorText {
  color: var(--color);
  text-align: center;
  font-family: "Montserrat";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding-top: 32px;
}

.errorDescription {
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-top: 16px;
}

.goHomeBtn {
  padding: 16px 56px;
  font-size: 20px;
  color: white;
  background-color: #92a134;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 32px;
}

.goHomeBtn:hover {
  background-color: #7d902b;
}

@media (max-width: 1000px) {
  .errorContainer {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .errorImage {
    width: 200px;
    height: 240px;
  }

  .errorText {
    font-size: 56px;
  }
}

@media (max-width: 480px) {
  .errorContainer {
    padding: 56px 20px;
  }

  .errorImage {
    width: 20px;
    height: 20px;
  }

  .errorText {
    font-size: 48px;
  }

  .fourImage {
    width: 20px;
    height: 20px;
  }

  .goHomeBtn {
    padding: 12px 52px;
  }
}
