.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
  background-color: var(--background-color);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.crumbBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--background-color-bread);
  border: 1px solid #ddd;
}

.crumbText {
  color: var(--txt-grey, #8b8b8b);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.crumbTextBlack {
  color: var(--color);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.line {
  width: 16px;
  height: 1px;
  background-color: #ddd;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  color: var(--color);
  font-family: "Montserrat", normal;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

@media (max-width: 1200px) {
  .container {
    padding: 40px 20px 60px 20px;
  }

  .head {
    margin-bottom: 32px;
  }

  .categories {
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 36px 20px 60px 20px;
  }

  .categories {
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
  }

  .title {
    font-size: 56px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-bottom: 56px;
  }

  .breadcrumbs {
    display: none;
  }

  .head {
    margin-bottom: 24px;
  }

  .title {
    font-size: 48px;
  }
}

@media (max-width: 360px) {
  .container {
    padding-bottom: 56px;
  }
  .breadcrumbs {
    display: none;
  }

  .title {
    font-size: 40px;
  }
  .categories {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
