.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 80px 40px;
  background-color: var(--background-color);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.crumbBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--background-color-bread);
  border: 1px solid #ddd;
}

.crumbText {
  color: #8b8b8b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.crumbTextBlack {
  color: var(--color);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}

.line {
  width: 16px;
  height: 1px;
  background-color: #ddd;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-right: 24px;
}

.line {
  width: 16px;
  height: 1px;
  background-color: #ddd;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  width: 100%;
}

@media (max-width: 1000px) {
  .container {
    padding: 32px 20px 60px 20px;
  }

  .productsGrid {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 24px 20px 56px 20px;
  }
}

@media (max-width: 360px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}
